
<div class="menu menu-tabs" id="togglable-tabs">
	<ul id="tabs" class="nav nav-tabs" role="tablist">
		<li role="categories"><a ng-link="['Categories']"> Categories</a></li>
		<li role="sources"><a ng-link="['Sources']"> Sources</a></li>
	</ul>
</div>

<ng-outlet></ng-outlet>

<script>
$(document).ready(function() {
	$('#tabs li').click(function (e) {
		$("#togglable-tabs>ul>li.active").removeClass("active");
		$(this).addClass('active');
	});
	
	$("body").tooltip({ selector: '[data-toggle=tooltip]' });
});
</script>