<!--  <div ng-if="$ctrl.source">
	<h3>{{$ctrl.source.name}}</h3>
	<div>
		<label>Id: </label>{{$ctrl.source.sourceId}}
	</div>
	<div>
		<label>Name: </label> <input ng-model="$ctrl.source.name"
			placeholder="name" />
	</div>
	<div>
		<label>Author:</label>{{$ctrl.source.author}}
	</div>
	<div>
		<label>Categories:</label><div ng-repeat="category in $ctrl.source.catList">{{category.name}}</div>
	</div>
	<button ng-click="$ctrl.gotoSources()">Back</button>
</div>-->


<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title"><strong>Source Information</strong></h3>
	</div>
	<div class="panel-body">
		<form class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-2 control-label">Source ID:</label>
				<div class="col-sm-6">
					<p class="form-control-static">{{$ctrl.source.sourceId}}</p>
				</div>
			</div>
			<div class="form-group">
				<label for="inputName" class="col-sm-2 control-label">Source
					Name:</label>
				<div class="col-sm-4 col-md-4">
					<input type="name" class="form-control" id="inputName" ng-model="$ctrl.name">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Author:</label>
				<div class="col-sm-6">
					<p class="form-control-static">{{$ctrl.source.author}}</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Categories:</label>
				<div class="col-sm-6">
					<div ng-repeat="category in $ctrl.source.catList">{{category.name}}</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-1">
					<button type="button" class="btn btn-primary"
						ng-click="$ctrl.save()">Save</button>
				</div>
				<div class="col-md-1">
					<button type="button" class="btn btn-default"
						ng-click="$ctrl.gotoSources()">Back</button>
				</div>
			</div>
		</form>
	</div>
</div>