<div class="row" style="margin-top: 20px;">
	<div class="col-md-4 text-center">
		<div class="panel panel-primary">
			<div class="panel-heading">Category List 
				<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
			</div>
			<table class="table table-bordered text-center">
				<tbody>
					<tr>
						<td>
							<div ng-repeat="category in $ctrl.categories | orderBy : 'fullName'">
								<a ng-link="['CategoryDetail', {id: category.catId}]">{{category.fullName}}</a>
								<button type="button" class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="top" ng-click="$ctrl.removeCategory(category.catId)" title="Eliminar">
									<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
								</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-xs-6 col-sm-3 col-md-2 text-center">
		<div class="btn-group btn-group-justified" role="group" aria-label="...">
  			<div class="btn-group" role="group">
    			<button type="button" class="btn btn-primary" ng-link="['CategoryForm']">Add New Category
    			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    			</button>
  			</div>
  		</div>
	</div>
</div>





	